.up {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 10px;
  width: 40px;
  height: 45px;
  background-color: #fd9b00;
  opacity: 0.6;
  z-index: 11;
  cursor: pointer;
  text-align: center; }
  .up:after {
    content: "\f30c";
    color: #fff;
    font-size: 52px;
    font-family: "FontAwesome";
    line-height: 76px; }

@media (min-width: 767.98px) {
  .up {
    right: 35px;
    width: 76px;
    height: 76px;
    bottom: 335px; } }
