//<CHECK>====================================================================================================
.check {
  position: relative;
  padding-left: 35px;
  font-size: 18px;
  line-height: 18px;
  color: #7c7373;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 14px;
  white-space: nowrap;
  input {
    display: none;
  }
  &:before {
    content: "";
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #a5a5a5;
    background-color: #dfdfdf;
    position: absolute;
  }
  &.active {
    color: #fd9b00;
    &:before {
      background: url("../img/icons/check.png") center no-repeat;
      border: 1px solid #fc9a00;
    }
  }
}
//</CHECK>====================================================================================================
